body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
footer{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.flex-titre-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    position: relative;
}
.titre {
    font-weight: bold;
    text-align: center;
    color: #333;
}

.logo {
    position: absolute;
    top: 10;
    right: 0;
}

.flex-menu-content {
    display: flex;
    height: 80vh;

}

.menu {
    justify-self: left;
    padding: 10px;

}

.content{
    margin: 20px;
    justify-self: center;
    text-align: center;
}